//MIXINS
.respond-to(@device, @content) {
  & when (@device =phones) {
    @media all and (max-width: 479px) {
      @content();
    }
  }
  & when (@device =wide-phones) {
    @media all and (min-width: 480px) and (max-width: 767px) {
      @content();
    }
  }
  & when (@device =tablets) {
    @media all and (min-width: 768px) and (max-width: 991px) {
      @content();
    }
  }
  & when (@device =small-desktops) {
    @media all and (min-width: 992px) and (max-width: 1199px) {
      @content();
    }
  }
  & when (@device =lg-desktops) {
    @media all and (min-width: 1200px) and (max-width: 1440px) {
      @content();
    }
  }
  & when (@device =xlg-desktops) {
    @media all and (min-width: 1441px) {
      @content();
    }
  }
}

.transform {
  animation-name: transform;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

@keyframes transform {
  from {
    transform: scale(0.8, 0.7) translateX(30px);
  }
  to {
    transform: scale(1, 1);
  }
}

/*
	.respond-to(small-desktops, {
    });
	.respond-to(tablets, {
    });
	.respond-to(wide-phones, {
    });
*/