.ImgCatalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImgCatalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}