.ImgCatalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImgCatalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ImgCatalog__title {
    padding-bottom: 10px;
    border-bottom: 1px solid #00000040;
}