.ImgCard {
    margin: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    position: relative;
}

.ImgCard__img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.ImgCard__count {
    position: absolute;
    top: 10px;
    left: 10px;
}