@import '../../assets/variables.less';
.imgCard {
  margin: 2px;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  .rush();
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    .counter {
      font-weight: 500;
      background: black;
      color: white;
    }
  }
}

.imgCard__img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  vertical-align: bottom;
  .respond-to(lg-desktops, {
    width: 275px;
    height: 275px;
  }
  );
  .respond-to(small-desktops, {
    width: 270px;
    height: 270px;
  }
  );
  .respond-to(tablets, {
    width: 265px;
    height: 265px;
  }
  );
  .respond-to(wide-phones, {
    width: 265px;
    height: 265px;
  }
  );
  .respond-to(phones, {
    width: 100px;
    height: 100px;
  }
  );
}