.clickCounter__count {
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 1px 4px;
    border-radius: 15px;
    border: none;
    background: #ffffff7d;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.clickCounter__count:hover {
    cursor: pointer;
    background: #fff;
}